body {
    font-family: sans-serif;
}
.container{
    font-family: Abel;
    background-color: white;
    margin-top: 75px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 60%;
    font-size:20px;
}
.center {
    text-align: center;
}

.title{
  text-align:left;

}

.text-big {
    font-size: 30%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.loarts{
    float: right;
    
}
.ltstfs{
    float :left;
}
.footer{
    
}